<div class="container">
    <form [formGroup]="inscriptionForm" (ngSubmit)="addUser(inscriptionForm.value)" novalidate >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="emailCtrl">        
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" formControlName="passwordCtrl">
      </div>

      <div class="form-group">
        <label for="confirmPass">Confirmation</label>
        <input type="password" class="form-control" formControlName="confirmPassCtrl">
      </div>

      <input type="submit" class="btn btn-primary btn pull-right" [disabled]="!inscriptionForm.valid" value="GO">
    </form>
</div>
